<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec mise en page</title>
    <style>
        /* Style pour les colonnes */
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #f5f5f5; /* Couleur de fond */
        }

        .container {
            display: flex;
            flex-direction: column;
            min-height: 84vh; /* Permet de remplir tout l'écran */
        }

        .row {
            flex: 1; /* Ajuste la taille des lignes pour remplir l'espace disponible */
            display: flex;
        }

        .column {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
            position: relative; /* Ajoutez cette ligne */
        }

        .choose-game {
            position: absolute;
            bottom: 20px;
        }

        /* Style pour le rectangle du jeu */
        .game-container {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* Remplit toute la hauteur de la colonne */
        }

        /* Style pour les rectangles de droite */
        .right-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .small-rectangle {
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            width: 300px; /* Largeur ajustée */
            height: 200px; /* Hauteur ajustée */
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative; /* Position relative pour les rectangles */
        }

        .small-rectangle:hover {
            background-color: #f0f0f0; /* Couleur de fond au survol */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
            transform: scale(1.0); /* Mise à l'échelle au survol */
        }

        .rectangle-title {
            font-size: 18px;
            text-align: center;
            position: absolute; /* Position absolue pour les titres */
            top: 10px; /* Distance du haut du rectangle */
            left: 0;
            right: 0;
        }

        /* Style pour le pied de page */
        footer {
            background-color: #333;
            padding: 20px;
            color: #fff;
            text-align: center;
            flex-shrink: 0; /* Empêche le pied de page de se réduire */
        }

        footer button {
            padding: 10px 20px;
            margin: 0 5px;
            background-color: #007bff;
            border: none;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
        }

        #startGameButton {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        #startGameButton:hover {
            background-color: #0056b3;
        }

        #startGameButton:active {
            background-color: #004080;
        }

        #startGameButton:focus {
            outline: none;
        }

        .search-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #333;
            padding: 10px;
        }

        .search-input {
            width: 300px;
            height: 30px;
            border-radius: 5px;
            border: none;
            padding: 5px;
            font-size: 16px;
        }

        .search-button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            margin-left: 10px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #0056b3;
        }

        .suggestion {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 100%; /* Juste en dessous de la barre de recherche */
            left: 50%; /* Centrer horizontalement */
            cursor: pointer;
            padding: 5px;
            width: 300px; /* Même largeur que la barre de recherche */
            height: 30px; /* Même hauteur que la barre de recherche */
            box-sizing: border-box; /* Assurez-vous que le padding est inclus dans la largeur et la hauteur */
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            margin-top: 5px;
        }

        .suggestion:hover {
            background-color: #eee;
        }

    </style>
</head>
<body>
    <div class="search-container">
        <div style="flex-direction: column;">
            <input type="text" class="search-input" id="searchInput" placeholder="Rechercher un jeu...">
            <div id="suggestions"></div> <!-- Placé ici pour être juste en dessous de l'input -->
        </div>
        <button class="search-button" id="searchButton">Rechercher</button>
    </div>
    <div class="container">
        <div class="row">
            <!-- Colonne de gauche -->
            <div class="column">
                <div class="game-container">
                    <h3 class="rectangle-title">Le top des jeux</h3>
                </div>
            </div>
            <!-- Colonne du milieu -->
            <div class="column">
                <div class="game-container">
                    <!-- Intégration du jeu dans le rectangle central -->
                    <iframe id="gameFrame" frameborder="0" scrolling="no" width="100%" height="100%" style="display: none;"></iframe>
                    <button id="startGameButton">Lancer le jeu</button>
                </div>
            </div>
            <!-- Colonne de droite -->
            <div class="column right-column">
                <div class="small-rectangle">
                    <h3 class="rectangle-title">L'association du mois</h3>
                </div>
                <div class="small-rectangle">
                    <h3 class="rectangle-title">Le top des annonceurs</h3>
                </div>
            </div>
        </div>
        <!-- Pied de page -->
        <footer>
            <button>Inscription Particulier</button>
            <button>Inscription Association</button>
            <button>Inscription Mécène</button>
        </footer>
    </div>
    <script>
        var jeux = [
            "SpaceBattle",
            "Geometry Dash",
            "Flappy Bird",
            // Ajoutez d'autres jeux ici au besoin
        ];

        // Script JavaScript pour la recherche et la redirection vers le jeu
        document.getElementById('searchButton').addEventListener('click', function() {
            var searchTerm = document.getElementById('searchInput').value.toLowerCase();
            if (searchTerm === 'spacebattle') {
                var gameFrame = document.getElementById('gameFrame');
                gameFrame.src = 'https://starblast.io/';
                gameFrame.style.display = 'block';
                document.getElementById('startGameButton').style.display = 'none';
            } else if (searchTerm === 'geometry dash') {
                var gameFrame = document.getElementById('gameFrame');
                gameFrame.src = 'https://www.jopi.com/fr/jeu/geometry-dash/';
                gameFrame.style.display = 'block';
                document.getElementById('startGameButton').style.display = 'none';
            } else {
                alert('Jeu non trouvé.');
            }
        });

        document.getElementById('searchInput').addEventListener('input', function() {
            var searchTerm = this.value.toLowerCase();
            var suggestions = document.getElementById('suggestions');
            suggestions.innerHTML = ''; // Réinitialise les suggestions à chaque saisie

            // Parcourez la liste de jeux pour trouver les correspondances
            jeux.forEach(function(jeu) {
                if (jeu.toLowerCase().includes(searchTerm)) {
                    var suggestion = document.createElement('div');
                    suggestion.textContent = jeu;
                    suggestion.classList.add('suggestion');
                    suggestions.appendChild(suggestion);
                }
            });

            document.querySelectorAll('.suggestion').forEach(function(suggestion) {
                suggestion.addEventListener('click', function() {
                    document.getElementById('searchInput').value = suggestion.textContent;
                    var searchTerm = document.getElementById('searchInput').value.toLowerCase();
                    document.getElementById('suggestions').style.display = 'none'; // Masquer les suggestions après avoir choisi une suggestion
                    if (searchTerm === 'spacebattle') {
                        var gameFrame = document.getElementById('gameFrame');
                        gameFrame.src = 'https://starblast.io/';
                        gameFrame.style.display = 'block';
                        document.getElementById('startGameButton').style.display = 'none';
                    } else if (searchTerm === 'geometry dash') {
                        var gameFrame = document.getElementById('gameFrame');
                        gameFrame.src = 'https://www.jopi.com/fr/jeu/geometry-dash/';
                        gameFrame.style.display = 'block';
                        document.getElementById('startGameButton').style.display = 'none';
                    }
                    else if (searchTerm === 'flappy bird') {
                        var gameFrame = document.getElementById('gameFrame');
                        gameFrame.src = '$output = shell_exec('python3 flap/main.py');';
                        gameFrame.style.display = 'block';
                        document.getElementById('startGameButton').style.display = 'none';
                    }
                });
            });
            // Afficher les suggestions s'il y en a
            if (searchTerm.length > 0) {
                suggestions.style.display = 'block';
            } else {
                suggestions.style.display = 'none';
            }
        });
    </script>
</body>
</html>
