{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
    <style>
        .content {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .content form {
            width: 60%;
        }

        .content label {
            margin-bottom: 5px;
            color: #555;
        }

        .content input[type="email"],
        .content textarea {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
        }

        .content button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
            max-width: 200px;
        }

        .content button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block title %}Réinitialisation du mot de passe - Yabonlapub{% endblock %}

{% block body %}
<div class="content">
    <div class="title-container">
        <h3>Répondre à la question secrète</h3>
        <p>{{ question }}</p> <!-- Afficher la question ici -->
    </div>
    <form method="post" action="{{ path("process_mdp") }}">
        <label for="reponse">Votre réponse</label>
        <textarea id="reponse" name="reponse" required rows="4" placeholder="Votre réponse"></textarea>
        <button type="submit">Envoyer</button>
    </form>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
</div>

{% endblock %}
