{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
    <style>
        .content {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .title-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .content form {
            width: 60%;
        }

        .content label {
            margin-bottom: 5px;
            color: #555;
        }

        .content input[type="password"] {
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;
        }

        .content button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            width: 100%;
            max-width: 200px;
        }

        .content button:hover {
            background-color: #0056b3;
        }

        .password-requirements {
            margin-bottom: 20px;
            font-size: 14px;
            color: #555;
             text-align: center;
             padding-left: 0;
        }

        .password-requirements li {
            list-style: none;
            margin-bottom: 5px;
        }

        .password-requirements li.valid {
            color: green;
        }

        .password-requirements li.invalid {
            color: red;
        }
    </style>
{% endblock %}

{% block title %}Nouveau mot de passe - Yabonlapub{% endblock %}

{% block body %}

<div class="content">
    <h3>Nouveau mot de passe</h3>
    <form method="post"  action="{{ path('reset_password', {'token': token}) }}" onsubmit="return validatePasswords()">
        <label for="email">Saisissez votre adresse email</label>
        <input type="text" id="mail" name="mail" required placeholder="Votre adresse email">
        <ul class="password-requirements">
            <li>Le mot de passe doit contenir :</li>
            <li id="length" class="invalid">Au moins 8 caractères ❌</li>
            <li id="uppercase" class="invalid">Au moins une lettre majuscule ❌</li>
            <li id="lowercase" class="invalid">Au moins une lettre minuscule ❌</li>
            <li id="number" class="invalid">Au moins un chiffre ❌</li>
            <li id="special" class="invalid">Au moins un caractère spécial (@, #, $, etc.) ❌</li>
        </ul>
        <label for="password">Nouveau mot de passe</label>
        <input type="password" id="password" name="new_password" required placeholder="Nouveau mot de passe" oninput="checkPassword()">
        <label for="confirmationpassword">Confirmer le nouveau mot de passe</label>
        <input type="password" id="confirmationpassword" name="confirm_password" required placeholder="Nouveau mot de passe">
        <button type="submit">Mettre à jour</button>
    </form>
</div>
<script>
document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault();
    var form = this;

    if (validatePasswords()) {
        setTimeout(function() {
            form.submit();
        }, 100);
    }
});

function validatePasswords() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirmationpassword").value;
    if (password !== confirmPassword) {
        alert("Les mots de passe ne correspondent pas.");
        return false;
    }

    var requirements = checkPassword();
    if (requirements.length === 0) {
        alert("Le mot de passe a bien été modifié.");
        return true;
    } else {
        alert("Veuillez remplir tous les critères de sécurité du mot de passe.");
        return false;
    }
}

function checkPassword() {
    var password = document.getElementById("password").value;
    var requirements = [];

    var lengthRequirement = document.getElementById("length");
    var uppercaseRequirement = document.getElementById("uppercase");
    var lowercaseRequirement = document.getElementById("lowercase");
    var numberRequirement = document.getElementById("number");
    var specialRequirement = document.getElementById("special");

    if (password.length >= 8) {
        lengthRequirement.classList.remove("invalid");
        lengthRequirement.classList.add("valid");
        lengthRequirement.textContent = "Au moins 8 caractères ✔️";
    } else {
        lengthRequirement.classList.remove("valid");
        lengthRequirement.classList.add("invalid");
        lengthRequirement.textContent = "Au moins 8 caractères ❌";
        requirements.push("longueur");
    }

    if (/[A-Z]/.test(password)) {
        uppercaseRequirement.classList.remove("invalid");
        uppercaseRequirement.classList.add("valid");
        uppercaseRequirement.textContent = "Au moins une lettre majuscule ✔️";
    } else {
        uppercaseRequirement.classList.remove("valid");
        uppercaseRequirement.classList.add("invalid");
        uppercaseRequirement.textContent = "Au moins une lettre majuscule ❌";
        requirements.push("majuscule");
    }

    if (/[a-z]/.test(password)) {
        lowercaseRequirement.classList.remove("invalid");
        lowercaseRequirement.classList.add("valid");
        lowercaseRequirement.textContent = "Au moins une lettre minuscule ✔️";
    } else {
        lowercaseRequirement.classList.remove("valid");
        lowercaseRequirement.classList.add("invalid");
        lowercaseRequirement.textContent = "Au moins une lettre minuscule ❌";
        requirements.push("minuscule");
    }

    if (/\d/.test(password)) {
        numberRequirement.classList.remove("invalid");
        numberRequirement.classList.add("valid");
        numberRequirement.textContent = "Au moins un chiffre ✔️";
    } else {
        numberRequirement.classList.remove("valid");
        numberRequirement.classList.add("invalid");
        numberRequirement.textContent = "Au moins un chiffre ❌";
        requirements.push("chiffre");
    }

    if (/[@#$%^&+=]/.test(password)) {
        specialRequirement.classList.remove("invalid");
        specialRequirement.classList.add("valid");
        specialRequirement.textContent = "Au moins un caractère spécial (@, #, $, etc.) ✔️";
    } else {
        specialRequirement.classList.remove("valid");
        specialRequirement.classList.add("invalid");
        specialRequirement.textContent = "Au moins un caractère spécial (@, #, $, etc.) ❌";
        requirements.push("caractère spécial");
    }

    return requirements;
}
</script>
{% endblock %}
