{% extends 'base.html.twig' %}

{% block title %}Vos informations - Yabonlapub{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/modif.css")}}">
{% endblock %}

{% block body %}
<div class="content">
    <div class="liste">
        <h3>Mon profil</h3>
        <div>
            <strong class="titre">Login:</strong> <p class="value">{{ app.user.login }}</p>
        </div>
        <div>
            <strong class="titre">Email:</strong> <p class="value">{{ app.user.email }}</p>
        </div>
        <button onclick="window.location.href='{{ path("app_modif_user") }}'">Retour</button>
    </div>
</div>
{% endblock %}
