{% extends 'base.html.twig' %}

{% block title %}Vos informations - Yabonlapub{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("styles/modif.css")}}">
{% endblock %}

{% block body %}
<div class="content">
    <div class="liste">
        <h3>Mon profil</h3>
        <strong>Login:</strong> {{ user.login }}
        <button onclick="window.location.href='{{ path("app_modif_user") }}'">Retour</button>
    </div>
</div>
{% endblock %}
