<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Space Invaders</title>
    <link rel="stylesheet" href="{{ asset('styles/space_invaders.css') }}">
</head>
<body>
<h1 class="results">0</h1>
<div class="grid"></div>
<script src="{{ asset('space_invaders.js') }}"></script>
</body>
</html>
