body {
    margin: 0;
    background: rgb(31,31,31);
    background: #FFF;
    font-family: "Trebuchet MS",sans-serif;
    color: #111;
    padding: 0.5%;
    overflow: hidden;
    text-align: center;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

.header {
    display: flex;
    align-items: center;
}

.header a {
    margin-left: auto;
}

.header a div {
    margin-left: auto;
    text-align: center;
    line-height: 0;
}

#left{
    margin-left: 0;
    display: flex;
}

#vertical {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#vertical span {
    margin-top: -15px;
}

a {
    text-decoration: none;
    color: #111;
}

hr {
    width: 95%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #000 0%, #222 100%);
}
