button {
    background-color: #e17100;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.liste {
    width: 24%;
    background-color: rgba(255,255,255,0.13);
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 30px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.liste * {
    outline: none;
    border: none;
}
.liste h3 {
    margin-top: -30px;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
.liste div {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.liste div p {
    margin-top: 0;
    margin-bottom: 0;
}
.liste div strong {
    margin-top: 0;
    margin-bottom: 0;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
}
input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.titre {
    width: 30%;
    text-align: right;
    margin-right: 5px;
}
.value {
    width: 70%;
    text-align: left;
}